@import "@/styles/variables.scss";
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  text-align: center;
  margin: 30px;
  font-size: 38px;
  font-weight: 300;
  color: $text-light;
}
.button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-weight: 300;
  font-size: 25px;
  color: $text-light;
  margin: 20px auto;
}
