@import "../../styles/variables.scss";

.reviewsContainer {
  background-color: $main-bg;
  color: $text-light;
  animation: appear 0.3s ease-in-out;

  ul {
    padding: 0.2rem 0;
    list-style: none;
    display: flex;

    flex-direction: column;

    gap: 1rem;
    overflow-y: scroll;
    max-height: 300px;

    @media screen and (min-width: $large-screen) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      max-height: 320px;
    }
    &::-webkit-scrollbar {
      background-color: $main-bg;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $text-light;
      border-radius: 1rem;
    }

    li {
      font-size: 10px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.4rem;
      border: 3px solid $text-light;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      max-height: 500px;
      @media screen and (min-width: $large-screen) {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          max-width: 7.5rem;
          word-break: break-all;
          margin: 2px;
          @media screen and (min-width: $large-screen) {
            font-size: 18px;
            max-width: 12rem;
          }

          img {
            margin-left: 0.4rem;
            margin-bottom: 0.3rem;
          }

          span {
            font-weight: bold;
          }
        }
      }
      @media screen and (min-width: $medium-screen) {
        font-size: 16px;
        gap: 3rem;
      }
    }

    .noReview {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      width: 100%;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  90% {
    opacity: 1;
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
