@import "../../styles/variables.scss";

.container {
  color: $text-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-bg;
  padding-top: 50px;
}
.text {
  text-align: center;
  font-weight: 600;
  font-size: 23px;
}

.img {
  max-width: 80%;
  height: auto;
  margin: 0.5em;
}
.title {
  max-width: 80%;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  color: $text-light;
}
.description {
  max-width: 80%;
}
