@import '../../styles/variables.scss';

.saloon{
    margin-bottom: 50px;
}

.legend{
    position: absolute;
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: right;
    justify-content: center;
    transform: rotateY(0deg) rotate(90deg);
    left: 5px;
    margin-top: 150px;
    gap: 70px;
    @media screen and (min-width: $medium-screen) {
        margin-top: 250px;
    }
    @media screen and (min-width: $large-screen) {
        margin-top: 350px;
    }
    @media screen and (min-width: $xl-screen) {
        margin-top: 450px;
    }
    
}

.screen{
    width: 150px;
    height: 30px;
    margin-left: 250px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
    font-weight: $font-weight-medium;
    @media screen and (min-width: $medium-screen) {
        margin-left: 100px;
    }
    @media screen and (min-width: $large-screen) {
        margin-left: 300px;
    }
    @media screen and (min-width: $xl-screen) {
        margin-left: 500px;
    }
    
}

.seat_legend_unavailable{
    width: 20px;
    height: 20px;
    border-radius: 0 5px 5px 0px;
    background-color: red;
    margin: 5px 15px;
    cursor: not-allowed; 
    :hover{
        background-color: royalblue;
    }
}

.seat_legend_selected{
    width: 20px;
    height: 20px;
    border-radius: 0 5px 5px 0px;
    margin: 5px 15px;
    cursor: not-allowed;
    background-color: gray;   
}
.seat_legend_free{
    width: 20px;
    height: 20px;
    border-radius: 0 5px 5px 0px;
    margin: 5px 15px;
    cursor: not-allowed;
    background-color: green;   
}
.legendText_free{
    position: absolute;
    transform: rotateY(0deg) rotate(-90deg);
    color: $text-light;
    margin-left: 32px;
    margin-top: 210px;
}
.legendText_unavailable{
    position: absolute;
    transform: rotateY(0deg) rotate(-90deg);
    color: $text-light;
    margin-left: 27px;
    margin-top: 15px;
}
.legendText_selected{
    position: absolute;
    transform: rotateY(0deg) rotate(-90deg);
    color: $text-light;
    margin-left: 56px;
    margin-top: -160px;
}