@import '../../styles/variables.scss';

.legend{
    position: absolute;
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: right;
    justify-content: center;
    transform: rotateY(0deg) rotate(90deg);
    left: -3em;
    margin-top: 10em;
    gap: 5em;
    @media screen and (min-width: $medium-screen) {
        margin-top: 22em;
    }
    @media screen and (min-width: $large-screen) {
        margin-top: 32em;
    }
    @media screen and (min-width: $xl-screen) {
        margin-top: 46em;
    }
    
}

.screen{
    width: 150px;
    height: 30px;
    margin-left: 200px;
    margin-top: 5em;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
    font-weight: $font-weight-medium;
    @media screen and (min-width: $medium-screen) {
        margin-left: 20em;
    }
    @media screen and (min-width: $large-screen) {
        margin-left: 29em;
    }
    @media screen and (min-width: $xl-screen) {
        margin-left: 50em;
    }
    
}

.seat_legend_unavailable{
    width: 20px;
    height: 20px;
    border-radius: 0 5px 5px 0px;
    margin-left: 1em;
    margin-top: 0em;
}
.seat_legend_free{
    width: 20px;
    height: 20px;
    border-radius: 0 5px 5px 0px;
    margin-left: 1em;
    margin-top: -1.5em;
}
.seat_legend_selected{
    width: 20px;
    height: 20px;
    border-radius: 0 5px 5px 0px;
    margin-left: 1em;
    margin-top: -2em;
}
.legendText_free{
    position: absolute;
    transform: rotateY(0deg) rotate(-90deg);
    color: $text-light;
    margin-left: 2em;
    margin-top: 12em;
}
.legendText_unavailable{
    position: absolute;
    transform: rotateY(0deg) rotate(-90deg);
    color: $text-light;
    margin-left: 1.7em;
    margin-top: 1em;
}
.legendText_selected{
    position: absolute;
    transform: rotateY(0deg) rotate(-90deg);
    color: $text-light;
    margin-left: 3.5em;
    margin-top: -10.5em;
}