@import "/src/styles/variables.scss";

.screeningListItem {
  width: 90%;
  margin: 10px auto;
  padding: 0 !important;
  background-color: $main-bg;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 2;
  border-radius: 7.5px;
  border: solid 2px black;
}
.screeningText {
  color: $text-light;
  font-size: medium;
  grid-row: 1 / span 1;
  grid-column: 1 / span 8;
  margin: 0.25em 0em 0em 0.25em;
}
.languageFlags {
  align-self: left;
  font-size: small;
  font-weight: 300;
  color: $text-light;
  grid-row: 2 / span 1;
  grid-column: 1 / span 8;
  margin: 0em 0em 0.25em 0.25em;
  img{
    display: inline-block;
    width: 20px;
    height: auto;
    margin: 0em 0.25em
  }
}

.ticketButton {
  grid-row: 1 / span 2;
  grid-column: 10 / span 3;
  margin: 0.5em auto;

  button {
    width: 100%;
    color: $text-light;
    background-color: $button-secondary;
    padding: 0.1em 0.5em;
    border: solid 1.5px $button-payment-confirm-shade;
    border-radius: 7.49px;
  }
}
