@import "variables.scss";

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $text-light;
  background-color: $header-bg;

  .row {
    @media screen and (max-width: $large-screen) {
      scale: 0.8;
    }
  }
}
