@import "variables.scss";

.darkblue-color {
  background-color: $darkblue-color;
}

.account-icon {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  right: 0;
  top: -1rem;

  @media screen and (min-width: $large-screen) {
    margin-left: 1.5rem;
    margin-top: 2rem;
  }
  .logo-image {
    z-index: 2;
  }
}

@media screen and (max-width: $large-screen) {
  .account-icon {
    position: absolute;
    top: 2rem;
    right: 3.5rem;
  }
}

.dropdown-account {
  color: $white-color;
  display: none;

  &-show {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 1.4rem;
    top: 5.3rem;

    @media screen and (min-width: $large-screen) {
      position: absolute;
      top: 5.3rem;
      right: 0.5rem;
    }
  }
  .sign-out-text {
    position: relative;
    margin-top: -0.6rem;
    margin-right: 2.3rem;
    background-color: $darkblue-color;
    z-index: 1;
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (min-width: $large-screen) {
      margin-right: -0.4rem;
      margin-top: -0.9rem;
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
  }
  .hide-name {
    display: none;
  }
}

.hamburger-icon {
  font-size: 1.5rem;
  scale: 1.7;

  position: absolute;
  right: 1.7rem;
  top: 2.5rem;
}
.hamburger-icon-hide {
  display: none;
}

//change color of bootstrap hamburger icon
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23f4f4f4' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.cross-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 2.3rem;
  padding: 2px;
}

.cross-icon:before,
.cross-icon:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 3px;
  border-radius: 3rem;
  background-color: $white-color;
}

.cross-icon:before {
  transform: rotate(45deg);
}

.cross-icon:after {
  transform: rotate(-45deg);
}

.navbar-nav {
  height: 100%;
}

.sidebar {
  display: none;
}

.nav-link {
  color: $white-color !important;
  transition: transform 2s ease-in-out;

  &:hover {
    text-decoration: underline;
  }

  &.current-page {
    text-decoration: underline !important;
  }
}

@media screen and (min-width: $large-screen) {
  .navbar-collapse {
    display: flex;
    justify-content: space-evenly;
  }
}

.navbar-collapse ul.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  gap: 2rem;

  @media screen and (min-width: $medium-screen) {
    flex-direction: row;
    gap: 5rem;
  }
}

.navbar-collapse form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;

  @media screen and (min-width: $medium-screen) {
    justify-content: flex-end;
  }
}

.animation-nav {
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(0);
  }
}
