@import "./sections/header.scss";
@import "./sections/footer.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: 70vh; //added min height so footer isn't right next to header
  background-color: $main-bg;
}
