@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./sections/header/header.scss";
@import "./sections/contactForm.scss";
@import "./sections/404.scss";
@import "./sections/footer.scss";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $main-bg;

  main {
    min-height: 70vh; //added min height so footer isn't right next to header
  }
}
