* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.darkblue-color {
  background-color: #112d4e;
}
.account-icon {
  margin-right: 1.5rem;
}
@media screen and (max-width: 993px) {
  .account-icon {
    position: absolute;
    top: 2rem;
    right: 3.5rem;
  }
}

.dropdown-account {
  color: #fff;
  display: none;
}
.dropdown-account-show {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 2rem;
  top: 5.3rem;
}
@media screen and (min-width: 993px) {
  .dropdown-account-show {
    position: absolute;
    top: 5.3rem;
    right: 0.5rem;
  }
}

.hamburger-icon {
  font-size: 2rem;
  color: #fff;
  scale: 1.5;

  position: absolute;
  right: 2rem;
  top: 2.7rem;
}

.navbar-nav {
  height: 100%;
}

.sidebar {
  display: none;
}

.nav-link {
  color: #fff !important;
  transition: transform 2s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
}
.current-page {
  text-decoration: underline !important;
}

@media screen and (min-width: 993px) {
  .navbar-collapse {
    display: flex;
    justify-content: space-evenly;
  }
}

.navbar-collapse ul.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .navbar-collapse ul.navbar-nav {
    flex-direction: row;
    gap: 5rem;
  }
}

.navbar-collapse form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .navbar-collapse form {
    justify-content: flex-end;
  }
}

.animation-nav {
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(0);
  }
}
