//fonts weight
$font-weight-light: 300;
$font-weight-medium: 600;

//screen size
$large-screen: 993px;
$medium-screen: 768px;
$xl-screen: 1350px;

// These colours are taken from the design spec on figma

$text-light: #ffffff;
$text-dark: #000000;

$icon-color: #dbe2ef;
$site-bg: #112d4e;
$main-bg: #04162b;

$button-primary: #8fc3ff;
$button-primary-shade: #85afdf;
$button-secondary-shade: #a40030;
$button-secondary: #ff0000;

$seat-available: #787878;
$seat-unavailable: #f30a0a;
$seat-selected: #5cb85c;

$payment-banner: #d9d9d9;
$button-payment-confirm: #e42155;
$button-payment-confirm-shade: #a40030;

$order-confirmed: #3ab54a;
