@import '/src/styles/variables.scss';

.screeningList{

    width: 95%;
    margin: 10px auto;
    background-color: $site-bg;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;

    h3{
        color: $text-light;
        text-align: center;
        padding-top: 10px; 
    }
}
.showMoreButton {
    background-color: transparent;
    border: none;
    font-weight: 300;
    color: $text-light;
    margin: 20px auto;
}