
@import '../../styles/variables.scss';

.seat{
width: 20px;
height: 20px;
border-radius: 0 5px 5px 0px;
background-color: gray;
margin: 5px 15px;
    
    .selected{
        background-color: green;
    }
    
    .unavailable{
        background-color: red;
    }
    :hover{
        background-color: royalblue;
    }

    .noRotation{
        position: absolute;
        transform: rotateY(0deg) rotate(-90deg);
    }
}

